<header>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	    <ul class = "navbar-nav ml-auto">
	        <li class = "nav-item">
	            <a href="{{ url_for('Home') }}" class="navbar-brand"> CCA Bank </a>
	        </li>
	        <li class = "nav-item">
	            <a href="{{ url_for('Dashboard') }}" class="nav-link" >Dashboard</a>
	        </li>
	       <li class = "nav-item">
	           <a href="{{ url_for('Transaction') }}" class="nav-link" >Transaction</a>
	       </li>
	       <li class = "nav-item">
	           <a href="{{ url_for('Chat') }}" class="nav-link" >Chat</a>
	       </li>
	       <li class = "nav-item">
	           <a href="{{ url_for('Accounts') }}" class="nav-link" >Accounts</a>
	       </li>
	    </ul>
	    <ul class = "navbar-nav ms-auto">
	        <li class = "nav-item">
	            <a href="{{ url_for('Aboutus') }}" class="nav-link">About Us</a>
	        </li>
	        <li class = "nav-item">
	            <a href="{{ url_for('Contactus') }}" class="nav-link" >Contact Us</a>
	        </li>
	        <li class = "nav-item">
	            <a href="{{ url_for('Register') }}" class="nav-link" >Register</a>
	        </li>
	        <li class = "nav-item">
	            <a href="{{ url_for('Login') }}" class="nav-link" >Login</a>
	        </li>
	       <li class = "nav-item">
	           <a href="{{ url_for('Logout') }}" class="nav-link" >Logout</a>
	       	</li>
		</ul>
	</nav>
</header>