{% extends 'appBase.html' %}
{% block title %}CCA Bank - Chat{% endblock %}
{% block content %}
    <h1 class="text-center">Chat...</h1>
    <div style="display:flex;height: 100vh;">
      <div style="flex:1; padding:20px;">
        <form action="/Chat" method="post">
            Comments: <input type="text" name="userComment" /><br/><br/>
            <input type="submit" value="Send"/>
        </form>
      </div>
      <div style="flex:1; padding:20px;">
        <h1>Comments</h1>
        <h3>${userComments}</h3>
      </div>
    </div>
{% endblock %}