{% extends 'appBase.html' %}
{% block title %}CCA Bank - Transactions{% endblock %}
{% block content %}
    <h1 class="text-center">Transaction</h1>
<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form action="/Transaction" method="post">
            <input type="text" class="form-control mb-3" name="toUser" placeholder="Enter User Name to Send Money">
            <input type="text" class="form-control mb-3" name="transferAmount" placeholder="Enter Amount to transfer">
            <input type="submit" class="btn btn-outline-primary form-control rounded-0" value="Transfer">
        </form>
    </div>
</div>
{% endblock %}